<div class="row">
  <div class="col-12">
    <div>
      <h1>{{data.title}}</h1>
      <div class="top-right-button-container">
        <div dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg flex-grow-1 dropdown-toggle">
            {{ 'pages.actions' | translate }} <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Assign Freelancer</a></li>
            <li role="menuitem"><a class="dropdown-item" href="javascript:;">Mark as Done</a></li>
          </ul>
        </div>
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="separator mb-5"></div>
    </div>


  </div> 
</div>

<div class="row">
  <div class="col-12 col-md-12 col-xl-4 col-right">
      <app-product-detail-info></app-product-detail-info>
  </div>
</div>
